body{
    background-color: #393E46;
    color: #d8d8d8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: larger;
}
input, select, button{
    height: 30px;
    background-color: #948979;
    border-radius: 4px;
    outline: none;
    border: none;
    
}
input{
    max-width: 150px;
    background-color: #948979;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    font-size: large;
}

select{
    width: 70px;
    height: 40px;
    font-size: 15px;
}
button{
    height: 40px;
    width: 200px;
    font-size: large;
    font-weight: 600;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.left, .right{
    flex: unset;
}

.banner{
    background-color: #222831;
    padding: 15px;
}

.sevenDay{
    display:flex;
    justify-content: center;
    gap: 10px;
}

.day{
    background-color: #222831;
    flex: 1 1 200px;
    min-width: 200px;
    text-align: center;
}


.loader {
  width: 45px;
  height: 40px;
  background: linear-gradient(#0000 calc(1*100%/6),#948979 0 calc(3*100%/6),#0000 0),
            linear-gradient(#0000 calc(2*100%/6),#948979 0 calc(4*100%/6),#0000 0),
            linear-gradient(#0000 calc(3*100%/6),#948979 0 calc(5*100%/6),#0000 0);
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
}

@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%
  }
}
    
